<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin and User</title>
    <link rel="stylesheet" href="css/chooseuserstyles.css">
    
</head>
<body>

    <div class="logo">Woodex</div>
    
    <div class="button-container">
        <a class="button" id="adminBtn" href="/adminsignin">Admin</a>
        <a class="button" id="userBtn" href="/sign">User</a>
    </div>
    <script src="js/chooseuserscripts.js"></script>
</body>
</html>
