<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/forgotpasswordstyles.css">
    <script src="js/forgotpasswordscript.js" defer></script>
</head>

<body>
<div class="container">
    <div class="logo">Woodex</div>
    <div class="title">Forgot Password</div>
    <div class="input-label">Email</div>
    <input type="text" class="input-field email-field">
    <div class="send-code-button" onclick="sendCode()">
        <div class="send-code-button-text">Send Code</div>
    </div>

    <div class="separator"></div>
    <div class="input-label">Code</div>
    <input type="text" class="input-field code-field">
    <div class="input-label">New Password</div>
    <input type="password" class="input-field newpassword-field">
    <a href="#" id="signin-link" class="signin-button" onclick="signIn(event)" style="text-decoration: none;">
        <div class="signin-button-text">Sign in</div>
    </a>

    
    <button class="mode-toggle-button" onclick="toggleDarkMode()">Toggle Dark Mode</button>
</div>
</body>
</html>
